.menu {
    background-color: var(--color-f8);
    padding-bottom: 10px;
    &-list {
        background-color: var(--color-white);
        margin: 15px;
        border-radius: var(--border-radius);
        overflow: hidden;
        .adm-list-body {
            border-bottom: 0;
            border-top: 0;
        }
        .adm-list-header {
            border-bottom: var(--border-bottom);
        }
        &-item {
        }
    }
}