.cate-list {
    &-item {
        border-bottom: 2px solid transparent;
        padding-bottom: 5px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 30px;
            height: 3px;
            border-radius: 10px;
            background-color: transparent;
            margin-left: -15px;
        }
        &.active {
            color: var(--adm-color-primary);
            &::after {
                background-color: var(--adm-color-primary);
            }
        }
    }
}